.DS_Store

// idea
*.iml
*.ipr
*.iws
.idea

gradle
classes
.gradle
.vagrant

// build
target
build
node_modules
bower_components
test-results.xml
karma/test-results.xml


src/main/resources/public/styles/bootstrap
src/main/resources/public/styles/fonts
src/main/resources/public/lib
