html { height:100%; padding:0; margin:0; }

body {
  margin: 66px 0 0 0;
  padding: 0;
  .calc-height(66px);
}

a:hover, a:focus { text-decoration: none; }

pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  padding: 0;
  margin: 0 0 0;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: inherit;
  border: 0;
  border: 0;
}

a.default-color { color: @text-color; }
a.default-color:hover { color: @text-color; }
.help-block { margin-bottom: 0; }